.quadrado{
    background-color: rgb(56, 58, 148);
    font-size: larger;
    width: 960px;
    height: 130px;
    color: rgb(255, 255, 255);
    text-align: justify;
    padding: 30px 30px 30px 30px;
    border: 8px rgb(176, 176, 223);
    border-style: dashed;
    margin-top: 20px;
    margin-left: 20%;
    margin-bottom: 20px;
}

img{
    margin-left: 5%;
}

video{
    margin-top: 20px;
    margin-left: 5px;
}
iframe{
    margin-left: 5px;
    margin-top: 30px;
}

/*
border-width: 10px 5px;
    border-color: rgb(182, 172, 240) rgb(217, 255, 0);
    border-style: dashed dotted;
}
atalho de border: cor   larg  tipo de linha na borda
                  blue  10px  solid / dashed...    
atalho de padding:
sentido horáro
    padding: 20px xxpx xxpx xxpx;

espaçamentos internos
.containerA{
    background-color: green;
    width: 250px;
    height: 130px;
    color: rgb(255, 255, 255);
    text-align: justify;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.containerB{
    background-color: hsl(236, 57%, 46%);
    width: 300;
    height: auto;
    color: rgb(255, 255, 255);
    border: slategray 10px solid;
    margin: 0px 40px 0px 40px;
}   

.containerC{
    background-color: hsl(236, 57%, 46%);
    width: 630;
    height: 330px;
    color: rgb(255, 255, 255);
    border: slategray 16px solid;
    margin: 0px 40px 0px 40px;
}

.containerD{
    background-color: hsl(236, 57%, 46%);
    width: 960px;
    height: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    border-width:10px ;
    border-style: dotted;
    border: slategray 16px solid;
    margin: 0px 40px 0px 40px;
    padding: 30px 30px 0px 30px;
}
   
    /*padding: 20px 40px;*/

    /*corre no sentido horário*/

    /*
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    */

    /*
    border: 5px;
    border: springgreen 30px dotted;
    */
    /*pontlilhado = dotted
     tracejado = dashed
     duplo = doble
     */