.quadrado{
    background-color: green;
    width: 250px;
    height: 130px;
    color: rgb(255, 255, 255);
    text-align: justify;
    padding: 20px;
    border: red 5px solid;
    margin-top: 40px;
    margin-left: 10px;
}

login{
    position: absolute;
    right: 10px;
    color: gray;
}

img{
    margin-left: 2px;
}

video{
    margin-top: 10px;
    margin-left: 2px;
}