body{
    background-color: #b9b9c7;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-indent: 50px;
    text-align:center;
    line-height: 23px;
}
#cabecalho1{
    background-color: #c4daee;
}
#cabecalho2{
    background-color: rgb(192, 255, 218);
}
#erro{
    background-color: teal;
    font-weight: bold;
    font-style: italic;
    color: tomato;
}

#natus{
    background-color: teal;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-weight: bold;
    font-size: large;
}