.exemplo{
    list-style: none;
    color: white;
    text-align: center;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.exemplo {
    list-style: none;
    color: rgb(255, 255, 255);    
    /*text-align: center; inline-block*/
    }
.item{   
    height: 50px;
    width: 24%; 
    display: inline-block;  
}
.primeiro{
    background-color: rgb(42, 122, 73);
  }
.segundo{  
    background-color: rgb(41, 194, 66);
}
.terceiro{
    background-color: rgb(209, 195, 68);
  }

.quarto{
    background-color: rgb(209, 195, 68);
  }
