.body{
    padding: 15px;
    background: #808080;
}

.caixa{
    border: solid 3px blue;
    padding: 5px 10px;
    margin: 40px;
}

.area-visivel{
        color: grey;
        display: none;
}

@media (max-width: 600px){
    .um{
        background-color: pink;
    }
    .lt600{
        display: inline-block;
    }
}

@media (min-width: 900px) {
    .dois{
        background-color: orange;
    }
    .gt900{
        display: inline-block;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    .tres{
        background-color: blue;
    }
    .bt600-900{
        display: inline-block;
    }     
}
