body{
    background-color:#263238;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align:justify;
    line-height: 23px;
    margin-left: 30%;
}

h1{
    background-color:#263238;
    text-align: justify;
    font-style: normal;
    color: rgb(255, 255, 255);
}

a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255)
}

::placeholder {
    color: rgb(255, 255, 255);
}
a:hover{
    color: #ff040480;
    text-decoration: underline;
}

a:active{
    color: rgb(255, 255, 255);
}

input{
    color: #ffff00;
    background-color: #3c4352;
}

input:focus{
    background-color: rgb(168, 26, 26);
}

input:hover{
    background-color: #ffffff;
    color: black;
}

#link2{
    color: red;
}

#link3{
    color: rgb(0, 255, 98)
}