body{
    background-color:#263238;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-align:justify;
    line-height: 23px;
    margin-left: 30%;
}

h1{
    background-color:#263238;
    text-align: justify;
    font-style: normal;
    color: rgb(255, 255, 255);
}

a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255)
}

input:focus{
    background: rgb(168, 26, 26);
}

input:hover{
    background: #9d9db6;
}

::placeholder {
    color: rgb(0, 0, 0);
}

a:focus{
    color: rgb(28, 101, 104);
}
a:hover{
    color: #5eff00fd;
    text-decoration: underline;
}

a:active{
    color: rgb(204, 46, 46);
}

#link2{
    color: red;
}

#link3{
    color: rgb(0, 255, 98)
}